.Card {
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
    position: relative;
    margin: 1%;
    max-width: 100%;
    max-height: 100%;
}

.Card:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc((3 / 2) * 100%);
  }

.Card .Content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Card .Top-Left {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    flex: 0 1 30%;
    width: 50%;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

.Card .Bottom-Right {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
    flex: 0 1 30%;
    width: 50%;
    text-align: right;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

.Card .Centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1em;
    flex: 1 1 100%;
}

.Card.red {
    background: #ff0000;
    background: linear-gradient(135deg, #ff0000 0%, #ff0000 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, #ff0000 70%, #ff0000 100%);
}

.Card.green {
    background: #00ff00;
    background: linear-gradient(135deg, #00ff00 0%, #00ff00 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, #00ff00 70%, #00ff00 100%);
}

.Card.blue {
    background: #0000ff;
    background: linear-gradient(135deg, #0000ff 0%, #0000ff 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, #0000ff 70%, #0000ff 100%);
}

.Card.yellow {
    background: #ffff00;
    background: linear-gradient(135deg, #ffff00 0%, #ffff00 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, #ffff00 70%, #ffff00 100%);
}

.Card.aussetzen, .Card.joker {
    background: #ffffff;
    background: linear-gradient(135deg, #000000 0%, #000000 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 66%, #000000 66%, #000000 100%);
}

.Card.aussetzen .Centre, .Card.joker .Centre {
    text-transform: uppercase;
}

.Card.aussetzen .Centre .Text-Span, .Card.joker .Centre .Text-Span {
    background-color: #ffffff;
    text-shadow: 2px 2px #ff0000;
}

.Card.Face-Down {
    background: rgba(100,100,100,1);
    background: linear-gradient(135deg, #000000 0%, #000000 33%, rgba(150,150,150,1) 33%, rgba(150,150,150,1) 66%, #000000 66%, #000000 100%);
    color: #ffff00;
    text-shadow: 1px 1px 2px #ffff00;
}

.Card.Face-Down .Top-Left {
    display: none;
}

.Card.Face-Down .Bottom-Right {
    display: none;
}
