.Piles {
    display: flex;
    margin: auto;
    width: 20%;
}

.Piles .Draw-Pile {
    flex: 1 0 calc(50% - 20px);
    cursor: pointer;
    margin: 10px;
}

.Piles .Discard-Pile {
    flex: 1 0 calc(50% - 20px);
    cursor: pointer;
    margin: 10px;
}